<body>
<ngx-spinner>
  <h3>Cargando...</h3>
</ngx-spinner>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" >
  <button class="navbar-toggler" style="margin: 10px;" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
  aria-controls="collapseExample" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <a style="position: absolute; padding-left: 30px; margin-left: 60px;" href="/">USA-Turnos</a>


<app-nav-header  ></app-nav-header>

</header>


<div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true" style="position: sticky; top: 60px; z-index: 1;"  >
  <app-nav  ></app-nav>
</div>




<div class="container" style="margin-top: 100px;">  
    <router-outlet>
      <main></main>     
    </router-outlet>
</div>
</body>