 
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark " style="width: 280px;">    
   
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/home" class="nav-link text-white bi-house-fill" aria-current="page" routerLinkActive="active">         
          &nbsp;Home
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/reservar" class="nav-link text-white bi-alarm" routerLinkActive="active">          
          &nbsp;Reservar Turno
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/turnos" class="nav-link text-white bi-ui-checks-grid" routerLinkActive="active">          
          &nbsp;Ver Mis Turnos
        </a>
      </li>      
      <li class="nav-item">
        <a routerLink="/serviciosdisp" class="nav-link text-white bi-building" routerLinkActive="active">         
          &nbsp;Servicios Disponibles
        </a>
      </li>
      <li class="nav-item">
        <a routerLink="/clientes" class="nav-link text-white bi-people-fill" routerLinkActive="active">          
          &nbsp;Clientes
        </a>
      </li>
    </ul>    
    <ng-container *ngIf="this.accountService.currentUser$ | async">
      <hr>
      <h4>Super Usuario</h4>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a routerLink="/services" class="nav-link text-white bi-building" aria-current="page" routerLinkActive="active">        
            &nbsp;Servicios
          </a>
        </li>      
        </ul>
    </ng-container>
    
   
  </div>

